<%= erb :'folders/_sidebar' %>

<main class="main">

  <h1>
    <%= @folder.name %>
    <% unless default_folder? %>
      <a href="/folder/<%= params[:permalink] %>/edit"><%= inline_svg("edit-solid.svg") %>Edit</a>
    <% end %>
  </h1>

  <div id="articles">
    <% @articles.each do |article| %>
      <div class="article" data-id="<%= article.id %>">
        <div class="sort-title-wrapper">
          <% unless request.path_info == "/folder/archive" %>
            <div class="sort">
              <%= inline_svg("sort-solid.svg") %>
            </div>
          <% end %>
          <div class="title-wrapper">
            <p class="title"><a href="/article/<%= article.id %>"><%= article.title %></a></p>
            <% if article.source_url.include? 'http' %>
              <p class="link"><%= url_only(article.source_url) %><a href="<%= article.source_url %>"><%= inline_svg('external-link-alt-solid.svg') %></a></p>
            <% end %>
          </div>
        </div>
        <div class="archive-delete-wrapper">
          <% unless request.path_info == "/folder/archive" %>
            <form action="/article/<%= article.id %>/archive" method="post">
              <input type="hidden" name="_method" value="patch">
              <button class="archive" type="submit" title="Archive This Article"><%= inline_svg("archive.svg") %></button>
            </form>
          <% end %>
          <% unless request.path_info == "/folder/unread" %>
            <form action="/article/<%= article.id %>/unarchive" method="post">
              <input type="hidden" name="_method" value="patch">
              <button class="archive" type="submit" title="Move to Unread Folder"><%= inline_svg("home.svg") %></button>
            </form>
            <!-- <a class="archive" href="#" title="Move to Unread Folder"><%= inline_svg("home.svg") %></a> -->
            <%#= link_to inline_svg("home.svg"), unarchive_article_path(article), method: :patch, class: "archive", title: "Move to Unread Folder" %>
          <% end %>
          <form onsubmit="confirm('Are you sure you want to delete this article?')" action="/article/<%= article.id %>/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit" title="Delete This Article"><%= inline_svg("trash.svg") %></button>
          </form>
        </div>
      </div>
     <% end %>
  </div>
  <%= pagy_nav(@pagy) if @pagy.pages > 1 %>
</main>
