<aside class="sidebar sidebar--article">
  <nav class="widget">
    <% if @article.source_url.include? 'http' %>
      <a href="<%= @article.source_url %>"><%= inline_svg('external-link.svg') %>Original</a>
    <% end %>
    <a href="/article/<%= params[:id] %>/edit"><%= inline_svg('edit.svg') %>Edit</a>
    <form action="/article/<%= params[:id] %>/refetch" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit"><%= inline_svg('rotate.svg') %>Refetch</button>
    </form>
    <% unless @article.folder.permalink == 'archive' %>
      <form action="/article/<%= params[:id] %>/archive" method="post">
        <input type="hidden" name="_method" value="patch">
        <button type="submit"><%= inline_svg('archive.svg') %>Archive</button>
      </form>
    <% end %>
    <% unless @article.folder.permalink == 'unread' %>
      <form action="/article/<%= params[:id] %>/unarchive" method="post">
        <input type="hidden" name="_method" value="patch">
        <button type="submit"><%= inline_svg('home.svg') %>Unread</button>
      </form>
    <% end %>
    <form onsubmit="confirm('Are you sure you want to delete this article?')" action="/article/<%= params[:id] %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit"><%= inline_svg('trash.svg') %>Delete Article</button>
    </form>
  </nav>
</aside>
