<!DOCTYPE html>
<html>

  <head>
    <title>Portholes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <header class="site-header">

      <div class="title-area">
        <p class="site-title"><a href="/folder/unread">Portholes</a></p>
      </div>

      <nav class="navigation">
        <ul class="menu">
          <li class="menu-item">
            <a id="add-link" class="button primary small" href="javascript:void(0);"><%= inline_svg('plus-solid.svg') %>Add Link</a>
          </li>
          <li class="menu-item">
            <a class="button primary small" href="/article/new"><%= inline_svg('plus-solid.svg') %>Add Article</a>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="sub-menu-toggle">
              Options
              <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
            </a>
            <ul class="sub-menu" data-collapsed="true">
              <% if downloadable_folder? %>
                <li class="menu-item"><a href="/download">Download</a></li>
              <% end %>
              <% if request.path_info == "/folder/unread" %>
                <li class="menu-item"><a id="archive-all" href="/archive-all">Archive All</a></li>
              <% end %>
              <li class="menu-item"><a href="/settings">Settings</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div class="site-inner">
      <% if flash.has?(:message) %>
        <div class="flash flash-success"><%= flash[:message] %></div>
      <% elsif flash.has?(:error) %>
        <div class="flash flash-error"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </div>

    <script src="/js/navigation.js"></script>

  </body>

</html>
